<!doctype html>
<html lang="en">
<head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <style>
        .personalized-widget {
            height: 300px; 
            align-items: center;
        }
        .personalized-widget2 {
            background-color: #6D2D2F;
            color: white;
            height: 300px;
        }
        .cardTitle-style {
            font-size: 70px; 
            font-family: 'Euphoria Script', cursive;
            text-align: center;
        }
        .cardBody-style {
            font-size: 20px;
            font-family: 'Crimson Text', serif;
            text-align: center;
        }
        .card-img-top {
            max-height: 130px;
            width: 100%;
            object-fit: contain;
        }
        .card {
            border-radius: 10px;
            border: none;
        }
        .cardW:hover{
            box-shadow: 0 3px 6px rgb(249, 229, 229), 0 3px 6px rgb(239, 213, 213);
            transform: translate(0px, -8px);
        }
        .cardW {
            max-width: 280px;
            max-height: 350px;
            margin: 0 auto;
        }  
        .cart-icon {
            position: absolute;
            right: 10px;
            background-color: black;
            color: white;
            border-radius: 50%;
            padding: 5px;
            cursor: pointer;
        }
        .heart-icon {
            font-size: 25px;
            cursor: pointer;
            padding: 5px;
        }
        .carousel1 {
            background-color: #FFF0F5;
            padding-top: 25px;
            padding-bottom: 25px;
        }
        .carousel2 {
            background-color: #292828;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Euphoria+Script&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4bb0cb35f0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light"> 
            <div class="container">
                <a class="navbar-brand" style="font-family: 'Euphoria Script', cursive;" href="./Home.html">Rosée</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="./Home.html" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Home.html">Favoritos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="./Primer.html">Primer</a>
                                <a class="dropdown-item" href="./Blush.html">Blush</a>
                                <a class="dropdown-item" href="./Rimel.html">Rimel</a>
                                <a class="dropdown-item" href="./Labial.html">Labial</a>
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex my-2 my-lg-0">
                        <input class="form-control me-sm-2" type="text" placeholder="Buscar" style="border-radius: 15px;">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin: 10px; border-radius: 15px; border-color: black; color: black">Buscar</button>
                    </form>
                    <div class="d-flex align-items-center ms-2"> 
                        <a href="./Carrito.html" class="nav-link"><i class="fa-solid fa-cart-shopping" style="background-color: black; color: white; padding: 4px;"></i></a>
                        <i class="fa-solid fa-gear nav-link" style="padding: 5px;" data-bs-toggle="modal" data-bs-target="#editUserModal"></i>
                        <a class="nav-link" href="Login.html" data-bs-toggle="modal" data-bs-target="#logoutModal">
                            <i class="fas fa-sign-out-alt" style="cursor:pointer" title="Cerrar Sesión"></i> 
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main content -->
    <main>
        <div class="container">
            <div class="row">
                <!-- Widget 1-->
                <div class="col-12 col-md-6">
                    <div class="card personalized-widget">
                        <div class="card-body">
                            <img
                            src="../Imagenes/Summer.webp"
                            alt="Title" style="width: 100%; height: 100%; object-fit: cover;"/>
                        </div>
                    </div>
                </div>
                <!-- Widget 2-->
                <div class="col-12 col-md-6">
                    <div class="card personalized-widget2">
                        <div class="card-body">
                            <h4 class="card-title cardTitle-style">Rosée</h4>
                            <p class="card-text cardBody-style">Haz que tu rutina de belleza sea tan simple como un clic. Explora, elige y recibe sin complicaciones.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p style="padding-left: 10px;"><b>Lo más nuevo</b></p>
        <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li
                    data-bs-target="#carouselId"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="First slide"
                ></li>
                <li
                    data-bs-target="#carouselId"
                    data-bs-slide-to="1"
                    aria-label="Second slide"
                ></li>

            </ol>
            <div class="carousel-inner carousel1" role="listbox">
                <div class="carousel-item active">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <!-- Imagén 1-->
                            <div class="card cardW">
                                <!-- Iconos -->
                                <i class="fa-regular fa-heart heart-icon"></i>
                                <i class="fa-solid fa-cart-shopping cart-icon"></i>
                                                        
                                <img
                                    src="../Imagenes/Blush.jpeg"
                                    class="card-img-top"
                                    alt="Product 1 Image"
                                />

                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">Producto</h5>
                                    <p class="card-text">Descripción de primer producto</p>
                                    <p class="card-text"><b>$10.99</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- Imagén 2-->
                            <div class="card cardW">
                                <!-- Iconos -->
                                <i class="fa-regular fa-heart heart-icon"></i>
                                <i class="fa-solid fa-cart-shopping cart-icon"></i>
                                                        
                                <img
                                    src="../Imagenes/Elf.jpeg"
                                    class="card-img-top"
                                    alt="Product 1 Image"
                                />

                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">Producto</h5>
                                    <p class="card-text">Descripción de primer producto</p>
                                    <p class="card-text"><b>$10.99</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- Imagén 3-->
                            <div class="card cardW">
                                <!-- Iconos -->
                                <i class="fa-regular fa-heart heart-icon"></i>
                                <i class="fa-solid fa-cart-shopping cart-icon"></i>
                                                        
                                <img
                                    src="../Imagenes/ElfConcealer.jpg"
                                    class="card-img-top"
                                    alt="Product 1 Image"
                                />

                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">Producto</h5>
                                    <p class="card-text">Descripción de primer producto</p>
                                    <p class="card-text"><b>$10.99</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <!-- Imagén 1-->
                            <div class="card cardW">
                                <!-- Iconos -->
                                <i class="fa-regular fa-heart heart-icon"></i>
                                <i class="fa-solid fa-cart-shopping cart-icon"></i>
                                                        
                                <img
                                    src="../Imagenes/Blush.jpeg"
                                    class="card-img-top"
                                    alt="Product 2 Image"
                                />

                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">Producto</h5>
                                    <p class="card-text">Descripción de segundo producto</p>
                                    <p class="card-text"><b>$10.99</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- Imagén 2-->
                            <div class="card cardW">
                                <!-- Iconos -->
                                <i class="fa-regular fa-heart heart-icon"></i>
                                <i class="fa-solid fa-cart-shopping cart-icon"></i>
                                                        
                                <img
                                    src="../Imagenes/Elf.jpeg"
                                    class="card-img-top"
                                    alt="Product 2 Image"
                                />

                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">Producto</h5>
                                    <p class="card-text">Descripción de segundo producto</p>
                                    <p class="card-text"><b>$10.99</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- Imagén 3-->
                            <div class="card cardW">
                                <!-- Iconos -->
                                <i class="fa-regular fa-heart heart-icon"></i>
                                <i class="fa-solid fa-cart-shopping cart-icon"></i>
                                                        
                                <img
                                    src="Imagenes/ElfConcealer.jpg"
                                    class="card-img-top"
                                    alt="Product 2 Image"
                                />

                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">Producto</h5>
                                    <p class="card-text">Descripción de segundo producto</p>
                                    <p class="card-text"><b>$10.99</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselId"
                data-bs-slide="prev"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselId"
                data-bs-slide="next"
            >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        

        <p style="padding-left: 10px;"><b>Favoritos</b></p>
        <div id="carouselId2" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li
                    data-bs-target="#carouselId2"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="First slide"
                ></li>
            </ol>
            <div class="carousel-inner carousel2" role="listbox">
                <div class="row g-3">
                    <div class="col-md-4">
                        <!-- Imagén 1-->
                        <div class="card cardW">
                            <!-- Iconos -->
                            <i class="fa-regular fa-heart heart-icon"></i>
                            <i class="fa-solid fa-cart-shopping cart-icon"></i>
                                                    
                            <img
                                src="../Imagenes/Blush.jpeg"
                                class="card-img-top"
                                alt="Product 1 Image"
                            />

                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">Producto</h5>
                                <p class="card-text">Descripción de primer producto</p>
                                <p class="card-text"><b>$10.99</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Imagén 2-->
                        <div class="card cardW">
                            <!-- Iconos -->
                            <i class="fa-regular fa-heart heart-icon"></i>
                            <i class="fa-solid fa-cart-shopping cart-icon"></i>
                                                    
                            <img
                                src="../Imagenes/Elf.jpeg"
                                class="card-img-top"
                                alt="Product 1 Image"
                            />

                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">Producto</h5>
                                <p class="card-text">Descripción de primer producto</p>
                                <p class="card-text"><b>$10.99</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Imagén 3-->
                        <div class="card cardW">
                            <!-- Iconos -->
                            <i class="fa-regular fa-heart heart-icon"></i>
                            <i class="fa-solid fa-cart-shopping cart-icon"></i>
                                                    
                            <img
                                src="../Imagenes/ElfConcealer.jpg"
                                class="card-img-top"
                                alt="Product 1 Image"
                            />

                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">Producto</h5>
                                <p class="card-text">Descripción de primer producto</p>
                                <p class="card-text"><b>$10.99</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselId2"
                data-bs-slide="prev"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselId"
                data-bs-slide="next"
            >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
   
    </main>
    <!-- Modal: Cerrar Sesión -->
    <div class="modal fade" id="logoutModal" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cerrar Sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas cerrar sesión?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="Login.html" class="btn btn-danger">Aceptar</a>
                </div>
            </div>
        </div>
    </div>

            <!-- Modal: Editar Usuario -->
    <div class="modal fade"  id="editUserModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="editName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="editName" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="editEmail" class="form-label">Correo</label>
                            <input type="text" class="form-control" id="editEmail" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="editPassword" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="editPassword" name="password" required>
                        </div>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-danger me-auto" onclick="confirmDelete()" id="deleteBtn">Eliminar</button>
                        <button type="button" class="btn btn-primary" onclick="updateUser()" id="saveBtn">Guardar Cambios</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
            
            <!-- Optional: Place to the bottom of scripts -->
            <script>
                const myModal = new bootstrap.Modal(
                    document.getElementById("editUserModal"),
                    options,
                );
            </script>
    <!-- Footer -->
    <footer>
        <!-- place footer here -->
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="../controllers/auth_controller.js"></script>
</body>
</html>